@import url("../css/cdn.css");
@import url("../css/awesome.css");

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}
.html {
  font-family: 'Open Sans', 'Raleway', sans-serif;
}
.container {
 margin: auto;
 max-width: 1170px; 
 padding: 80px 15px 0;
}
.title {
 text-align: center;
 margin: 0 auto 34px;
 font-family: 'Raleway';
 font-style: normal;
 font-weight: 400;
 font-size: 36px;
 color: #212121;
 line-height: 42px;
}
.line {
  width: 64px;
  height: 2px;
  border: 1px solid #E72424;
  margin: 0 auto 40px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}